.map-container
{
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    width: 100vh !important;
    height: 85vh !important;
    z-index: 1 !important;
    cursor: pointer !important;


}